{% extends 'wrapper.html' %}
{% block content %}

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Amallar</th>
        </tr>
    </thead>
    <tbody>
        {% for sh in shablon %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ sh.title }}</td>
            <td style="display: flex; align-items: center; justify-content: space-evenly;">
                <a href="/update_shablon/{{ sh.id }}"> <i class="fa fa-pencil-square fa-2x "></i> </a>
                <a href="{% url 'delete_shablon' pk=sh.id %}"><i class="fa  fa-trash-o text-danger fa-2x "></i></i>
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a style="position: absolute; right: 400px;" class="btn btn-success" href="/add_shablon">QO`SHISH <i
        class="fa fa-plus "></i> </a>
{% endblock content %}